bs5-modal(rv-parent, rv-co-color="color")
  .modal.fade(tabindex="-1", role="dialog", rv-add-class="color | prepend 'modal-'")
    .modal-dialog
      .modal-content
        .modal-header.d-flex.justify-content-between
          .start
            button.btn.btn-secondary.font-pixel-8x2(type="button", aria-label="Close", rv-on-click="hide")
              span(rv-i18n-text="'close'") Close
          .middle 
            .modal-title.font-pixel-12x2.text-center(rv-i18n-text="'print'") Print
          .end
            button.btn.btn-success.font-pixel-8x2(type="button", aria-label="Print", rv-on-click="print")
              span(rv-i18n-text="'start'") Start
        .modal-body
          jl-print-alert(want-to-print="true")