jl-avatar {
  display: flex;
  @extend .justify-content-center;
  @extend .align-items-center;
  img {
    width: 250px;
    --bs-border-color: var(--bs-light);
  }
}

.print-header {
  jl-avatar {
    img {
      --bs-border-color: var(--bs-dark);
    }
  }
}