nav#top-navbar.navbar.navbar-top.bg-tl-dark.bg-td-dark.text-td-light.text-tl-light
  .container-fluid.d-block
    .row
      .col-12.d-flex.align-items-center.justify-content-between
        // Left part of navbar
        bs5-toggle-button(target-id='left-sidebar' rv-parent)
          ul.nav
            li.nav-item.d-flex.align-items-center
              bs5-icon(rv-co-src='$parent.iconMenu' size='32' rv-hide='isActive' rv-on-click='toggle')
            li.nav-item.d-flex.align-items-center
              bs5-icon(rv-co-src='$parent.iconClose' size='32' rv-show='isActive' rv-on-click='toggle')
        // Right part of navbar
        .d-flex.flex-row.align-items-center
          bs5-theme-button.mx-3(mode='icon' rv-co-light-icon-src='iconSun' rv-co-dark-icon-src='iconMoon')
    .row
      .col-12.d-flex.align-items-center.justify-content-center 
        h1
          | Pascal Garber
          br
          .h5 Software-Entwickler