section.row
  .col-12
    h2.font-pixel-8x2 Skills
    hr.border-2.opacity-100
  .col-12(rv-each-skill="skills.list")
    small.row.gx-2.text-end
      span.col-4 { skill.name }
      .col-8
        // .bg-dark.border-dark
        .progress.rounded-0.border.border-1
          // .text-bg-light
          .progress-bar(role="progressbar", aria-valuenow="skill.score", aria-valuemin="0", aria-valuemax="100", rv-style-width="skill.score | append '%'")
  .col-12
    small.row.gx-2
      span.col-4.text-end Weitere
      .col-8.text-start
        span(rv-each-skill="skills.other")
          span { skill }
          span(rv-if="skills.other | size | minus 1 | gt %skill%")  ⋅ 