.d-flex.justify-content-start.align-items-center(role="alert" style="min-height: 84px;")
  img.d-none-hover.float-start.pixify.me-3(rv-src="icon", alt="Pixelart Tree" width="24" height="24")
  img.d-block-hover.float-start.pixify.me-3(rv-src="iconHover", alt="Pixelart Tree (colored)" width="24" height="24")
  small(rv-hide="wantToPrint" rv-i18n-html="'printAlert'")
  small(rv-show="wantToPrint" rv-i18n-html="'printAlertPrinted'")