.d-flex.justify-content-start.align-items-center(role="alert" style="min-height: 84px;")
  img.d-none-hover.float-start.pixify.me-3(rv-src="icon", alt="Pixelart Tree" width="24" height="24")
  img.d-block-hover.float-start.pixify.me-3(rv-src="iconHover", alt="Pixelart Tree (colored)" width="24" height="24")
  small(rv-hide="wantToPrint") Sie haben gerade die Druckversion meines digitalen Lebenslaufs vor sich. Bitte drucken Sie diesen möglichst <strong>nicht</strong> aus. Stattdessen empfehle ich, die Online-Version unter 
    a.alert-link(href="https://https://jumplink.github.io/") jumplink.github.io
    |  zu nutzen. So tragen Sie zum Umweltschutz bei.
  small(rv-show="wantToPrint") Bitte drucken Sie meinen digitalen Lebenslauf möglichst <strong>nicht</strong> aus. Stattdessen empfehle ich, die Online-Version unter 
    a.alert-link(href="https://https://jumplink.github.io/") jumplink.github.io
    |  zu nutzen oder diesen nur als PDF zu speichern. So tragen Sie zum Umweltschutz bei.