jl-timeline {
  display: block;
  .timeline {
    @extend .border-start;
    @extend .border-2;
    --bs-border-color: var(--bs-dark);

    position: relative;
    list-style: none;

    .timeline-title {
      @extend .border-bottom;
      @extend .border-2;
      --bs-border-color: var(--bs-dark);

      position: relative;

      .timeline-icon {
        background-color: var(--bs-dark);
        color: var(--bs-gray-200);
        position: absolute;
        left: -50px;
        top: 0px;
        z-index: 1;
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

    }

    .timeline-item {

      &:before {
        background-color: var(--bs-dark);
        position: relative;
        display: block;
        top: 15px;
        left: -38px;
        height: 11px;
        width: 11px;
        content: "";
      }
    }
    
    &.timeline-no-anchor-points {
      .timeline-item {
        &:before {
          display: none;
        }
      }
    }

  }
}

[data-bs-theme="dark"] {
  jl-timeline {
    .timeline {
      --bs-border-color: var(--bs-light);
      .timeline-title {
        --bs-border-color: var(--bs-light);
        .timeline-icon {
          background-color: var(--bs-gray-200);
          color: var(--bs-dark);
        }
      }
      .timeline-item {
        &:before {
          background-color: var(--bs-gray-200);
          color: var(--bs-dark);
        }
      }
    }
  }
}

// Force light theme on printing also if dark theme is selected
@media print {
  [data-bs-theme="dark"], [data-bs-theme="light"] {
    jl-timeline {
      .timeline {
        --bs-border-color: var(--bs-dark) !important;
        .timeline-title {
          --bs-border-color: var(--bs-dark) !important;
          .timeline-icon {
            background-color: var(--bs-light) !important;
            color: var(--bs-dark) !important;
          }
        }
        .timeline-item {
          &:before {
            background-color: var(--bs-dark) !important;
            color: var(--bs-dark) !important;
          }
        }
      }
    }
  }
}