jl-timeline {
  display: block;
  .timeline {
    @extend .border-start;
    @extend .border-2;
    @extend .border-dark;

    position: relative;
    list-style: none;

    .timeline-title {
      @extend .border-bottom;
      @extend .border-2;
      @extend .border-dark;

      position: relative;

      .timeline-icon {
        background-color: var(--bs-dark);
        color: var(--bs-gray-200);
        position: absolute;
        left: -50px;
        top: 0px;
        z-index: 1;
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

    }

    .timeline-item {

      &:before {
        background-color: var(--bs-dark);
        position: relative;
        display: block;
        top: 15px;
        left: -38px;
        height: 11px;
        width: 11px;
        content: "";
      }
    }
    
  }
}

[data-bs-theme="dark"] {
  jl-timeline {
    .timeline {
      @extend .border-light;
      .timeline-title {
        @extend .border-light;
        .timeline-icon {
          background-color: var(--bs-gray-200);
          color: var(--bs-dark);
        }
      }
      .timeline-item {
        &:before {
          background-color: var(--bs-gray-200);
          color: var(--bs-dark);
          position: relative;
          display: block;
          top: 15px;
          left: -38px;
          height: 11px;
          width: 11px;
          content: "";
        }
      }
    }
  }
}