section.py-5
  ul.timeline
    li.timeline-item.mb-5
      h5.fw-bold Our company starts its operations
      p.text-muted.mb-2.fw-bold 11 March 2020
      p.text-muted
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit
        | necessitatibus adipisci, ad alias, voluptate pariatur officia
        | repellendus repellat inventore fugit perferendis totam dolor
        | voluptas et corrupti distinctio maxime corporis optio?
    li.timeline-item.mb-5
      h5.fw-bold First customer
      p.text-muted.mb-2.fw-bold 19 March 2020
      p.text-muted
        | Quisque ornare dui nibh, sagittis egestas nisi luctus nec. Sed
        | aliquet laoreet sapien, eget pulvinar lectus maximus vel.
        | Phasellus suscipit porta mattis.