section.row
  .col-12
    h2.font-pixel-8x2(rv-i18n-text="'contact'") Contact
    hr.border-2.opacity-100
  small.col-12.text-nowrap
    a.text-decoration-none(href="tel:+4915254090189" target="__blank" rv-i18n-title="'mobile'" title="Mobile").row.gx-3.mb-3
      .col-auto.d-flex.align-items-center.justify-content-center
        bs5-icon(rv-src="iconChat", size="24")
      .col
        .row
          strong.col-12(rv-i18n-text="'mobile'") Mobile
          span.col-12 +49 1525 40 90 189
    a.text-decoration-none(href="https://floss.social/@jumplink" target="__blank" rv-i18n-title="'mastodon'" title="Mastodon").row.gx-3.mb-3
      .col-auto.d-flex.align-items-center.justify-content-center
        bs5-icon(rv-src="socialMastodon", size="24")
      .col
        .row
          strong.col-12(rv-i18n-text="'mastodon'") Mastodon
          span.col-12 @jumplink@floss.social 
    a.text-decoration-none(href="mailto:pascal@artandcode.studio" target="__blank" rv-i18n-title="'email'" title="E-Mail").row.gx-3.mb-3
      .col-auto.d-flex.align-items-center.justify-content-center
        bs5-icon(rv-src="iconMail", size="24")
      .col
        .row
          strong.col-12(rv-i18n-text="'email'") Email
          span.col-12 pascal@artandcode.studio
    a.text-decoration-none(href="https://github.com/JumpLink" target="__blank" rv-i18n-title="'github'" title="GitHub").row.gx-3
      .col-auto.d-flex.align-items-center.justify-content-center
        bs5-icon(rv-src="brandGithub", size="24")
      .col
        .row
          strong.col-12(rv-i18n-text="'github'") GitHub
          span.col-12 JumpLink