section.row
  .col-12.text-center
    h2 Kontakt
    hr
  .col-12.small.text-nowrap
    a(href="tel:+4915254090189" target="__blank"  title="Mobile").row.gx-3.my-3
      .col-auto.d-flex.align-items-center.justify-content-center
        bs5-icon(rv-src="iconMobile", size="24")
      .col
        .row
          strong.col-12 Mobile
          span.col-12 +49 1525 40 90 189
    a(href="https://floss.social/@jumplink" target="__blank" title="Mastodon").row.gx-3
      .col-auto.d-flex.align-items-center.justify-content-center
        bs5-icon(rv-src="socialMastodon", size="24")
      .col
        .row
          strong.col-12 Mastodon
          span.col-12 @jumplink@floss.social 
    a(href="mailto:pascal@artandcode.studio" target="__blank" title="E-Mail").row.gx-3.my-3
      .col-auto.d-flex.align-items-center.justify-content-center
        bs5-icon(rv-src="iconMail", size="24")
      .col
        .row
          strong.col-12 E-Mail
          span.col-12 pascal@artandcode.studio
    a(href="https://github.com/JumpLink" target="__blank" title="GitHub").row.gx-3
      .col-auto.d-flex.align-items-center.justify-content-center
        bs5-icon(rv-src="socialGithub", size="24")
      .col
        .row
          strong.col-12 GitHub
          span.col-12 JumpLink