@font-face {
  font-family: "Ark-Pixel-10px";
  src: url(fonts/ark-pixel-10px-proportional-latin.woff2)
}
@font-face {
  font-family: "Ark-Pixel-12px";
  src: url(fonts/ark-pixel-12px-proportional-latin.woff2)
}
@font-face {
  font-family: "Ark-Pixel-16px";
  src: url(fonts/ark-pixel-16px-proportional-latin.woff2)
}

@font-face {
  font-family: "Silkscreen";
  src: url(fonts/Silkscreen-Regular.ttf)
}
@font-face {
  font-family: "Silkscreen";
  font-weight: bold;
  src: url(fonts/Silkscreen-Bold.ttf)
}

// Pixel font with size and font-family
.font-pixel-8 {
  font-family: "Silkscreen";
  // @include font-size(8px);
  font-size: 8px;
  line-height: 8px;
  @extend .pixify;
}
.font-pixel-10 {
  font-family: "Ark-Pixel-10px";
  // @include font-size(10px);
  font-size: 10px;
  line-height: 10px;
  @extend .pixify;
}
.font-pixel-12 {
  font-family: "Ark-Pixel-12px";
  // @include font-size(12px);
  font-size: 12px;
  line-height: 12px;
  @extend .pixify;
}
.font-pixel-16 {
  font-family: "Ark-Pixel-16px";
  // @include font-size(16px);
  font-size: 16px;
  line-height: 16px;
  @extend .pixify;
}
.font-pixel-8x2 {
  font-family: "Silkscreen";
  // @include font-size(16px);
  font-size: 16px;
  line-height: 16px;
  @extend .pixify;
}
.font-pixel-10x2 {
  font-family: "Ark-Pixel-10px";
  // @include font-size(20px);
  font-size: 20px;
  line-height: 20px;
  @extend .pixify;
}
.font-pixel-12x2 {
  font-family: "Ark-Pixel-12px";
  // @include font-size(24px);
  font-size: 24px;
  line-height: 24px;
  @extend .pixify;
}
.font-pixel-8x4 {
  font-family: "Silkscreen";
  // @include font-size(32px);
  font-size: 32px;
  line-height: 32px;
  @extend .pixify;
}
.font-pixel-16x2 {
  font-family: "Ark-Pixel-16px";
  // @include font-size(32px);
  font-size: 32px;
  line-height: 32px;
  @extend .pixify;
}