// Root / Body CSS Variables

@media print {

    :root {
        @include font-size(var(--bs-print-body-font-size));
    }

    // Opacity

    .opacity-print-0 {
        opacity: 0 !important;
    }


    .opacity-print-100 {
        opacity: 100 !important;
    }

    // Position

    .position-print-static {
        position: static !important;
    }

    .position-print-relative {
        position: relative !important;
    }

    .position-print-absolute {
        position: absolute !important;
    }

    .position-print-fixed {
        position: fixed !important;
    }

    .position-print-sticky {
        position: -webkit-sticky !important;
        position: sticky !important;
    }
}