
bs5-sidebar#left-sidebar.bg-tl-dark.bg-td-dark.text-td-light.text-tl-light.d-flex.flex-column.justify-content-start.align-items-center.mt-5.px-4(container-selector='#main-container' position='left' rv-bs5-co-xs-auto-hide='true' rv-bs5-co-xl-auto-hide='false' rv-bs5-co-xs-auto-show='false' rv-bs5-co-xl-auto-show='true' rv-bs5-co-xs-mode="'overlap'" rv-bs5-co-xl-mode="'side'" width="260px" rv-parent)
  .pb-4.pt-0
    img.img-fluid.rounded-circle.border.border-4.border-light(rv-src='$parent.avatar' alt='Pascal Garber')
  section.text-center
    h2 Über mich
    p(rv-html="$parent.aboutMe.html")
  jl-contact.my-4
  jl-skills.my-4
jl-navbar.fixed-top
#main-container.py-5
  .container-fluid
    .row
      section.col-12.mb-4
        jl-timeline.px-4(rv-parent)
          ul.timeline
            li.timeline-title.mb-4
              h2.h3 Über mich
              .timeline-icon.text-light.bg-dark
                bs5-icon(rv-co-src="$parent.iconProfile" size="24")
            li.timeline-item.mb-4
              p(rv-html="$parent.aboutMe.html")
        jl-timeline.px-4(rv-parent)
          ul.timeline
            li.timeline-title.mb-4
              h2.h3 Expertise
              .timeline-icon.text-light.bg-dark
                bs5-icon(rv-co-src="$parent.iconProfile" size="24")
            li.timeline-item.mb-4
              p(rv-html="$parent.skills.html")
      section.col-12.mb-4
        jl-timeline.px-4(rv-co-items="projects", rv-parent)
          ul.timeline
            li.timeline-title.mb-4
              h2.h3 Projekterfahrung
              .timeline-icon.text-light.bg-dark
                bs5-icon(rv-co-src="$parent.iconPens" size="24")
            li.timeline-item.mb-4(rv-each-item="items")
              div.d-flex.justify-content-between
                h5.fw-bold { item.name }
                p.mb-2.fw-bold.text-end { item.start }
              p { item.desc }
      section.col-12.mb-4
        jl-timeline.px-4(rv-co-items="educations", rv-parent)
          ul.timeline
            li.timeline-title.mb-4
              h2.h3 Ausbildung
              .timeline-icon.text-light.bg-dark
                bs5-icon(rv-co-src="$parent.iconPens" size="24")
            li.timeline-item.mb-4(rv-each-item="items")
              div.d-flex.justify-content-between
                h5.fw-bold { item.name }
                p.mb-2.fw-bold.text-end { item.start } - { item.end }
              p { item.school }